/*
*created by: Liya Getachew
*created on:sept 21 2022
*/

body {
  background-color: rgb(240 128 128);
}

h1 {
  background-color: rgb(253 243 241);
  color: hsl(0deg 100% 45%);
  padding: 30px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
  background-color: rgb(253 243 241);
  color: hsl(0deg 100% 45%);
  padding: 10px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div {
  background-color: rgb(255 255 240);
  border-style: double;
}

table,
th,
td {
  border: 1px solid black;
}

td {
  color: #b11031;
  font-size: 20px;
  background-color: ivory;
}

ol {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

th {
  background-color: #e2b998;
}

h5 {
  background-color: rgb(253 243 241);
  color: hsl(0deg 100% 45%);
  padding: 5px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
